<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>InfoViz Team 18</title>
    <link rel="stylesheet" href="http://maxcdn.bootstapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../assets/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../assets/style.css" type="text/css"/>
    <script src="https://d3js.org/d3.v4.min.js"></script>



</head>

<body>
<header class="header">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <ul id="nav" class="navbar-nav ms-auto">
                            <li class="nav-item"> <a class="page-scroll" href="index.html">InfoVis</a></li>
                            <li class="nav-item"><a class="page-scroll active" href="projectInfo.html">Project Info</a></li>
                            <li class="nav-item"><a class="page-scroll" href="MeetOurTeam.html">Meet Our Team</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


    <section>
        <div class="info">          
                    <h1>
                        Project Information
                      </h1>
                      <p id="description">
                        This page gives a short overview about our project features. 
                      </p>
                      <h2>About the Project</h2>
                <p>Our visualization shows the number of <a href="https://www-genesis.destatis.de/genesis/online?operation=previous&levelindex=3&step=1&titel=Statistik+%28Tabellen%29&levelid=1673974672059&levelid=1673974365906#astructure">arrivals and overnight stays of tourists in the 16 federal states of Germany</a> from 2019 to 2020.
                We found out that the number of guests is bigger in the summer months and that Bavaria is the most popular destination for tourists. In March 2020 we see a significant decrease in all numbers as the Covid pandemic started and the government decided to impose a lockdown, which meant that, among others, hotels had to close and people had to stay at home. </p>
            <h2>Implemented Features</h2>
                <ul>
                    <li> Interactive map of the 16 Federal States of Germany to show the number of arrivals and overnight stays</li>
                    <li> Interactive time slider to choose the year for which the data will be displayed  </li>
                    <li> Detailed Informations for each states (Total arrival and overnight stays numbers and also the average overnight stays) </li>
                    <li> Radar Chart to make comparison between the years of 2019 and 2020 for arrival or overnight stays numbers </li>
                    <li> Checkboxes for selecting among arrivals and overnight stays on Radar Chart </li>
                    <!-- <li> Hover function to get detailed numbers </li> -->
                    <!-- <li> Click function to get information text (if available) </li> -->
                    <!-- <li> Information text also contains line charts for development over time </li> -->
                    <li> Project Information and Meet Our Team sections</li>
                </ul>
            <h3>Importance of Features</h3>
            <h4>Must-Haves</h4>
                <ul>
                    <li> Showing the number of arrivals and overnight stays </li>
                    <li> Interactive map </li>
                    <li> Detailed line chart for each federal state </li>
                    <li> Interactive time slider </li>
                    <li> Comparison between 2019 and 2020 </li>
                    <li> Meet Our Team page </li>
                </ul>
            <h4>Nice-to-Haves</h4>
                <ul>
                    <li> Hover function </li>
                    <li> Checkboxes for selecting arrival and overnight stays </li>
                    <!-- <li> Additional text information </li> -->
                    <li> Zoom effect on the map </li>
                </ul>
            <h4>Not Planned Features</h4>
                <ul>
                    <li>Detailed information for states </li>
                </ul>
            <!-- <h2>Team Members and Responsibilities</h2>
                <ul>
                    <li> Oguzhan Cesur (Frontend) </li>
                    <li> Sabrina Egger (Frontend) </li>
                    <li> Erdem Turgut (Backend) </li>
                    <li> Yagiz Turgut (Fontend) </li>
                    <li> Egesa Vrapi (Frontend) </li>
                </ul>
                 -->
              </div>
            

    </section>
    

<footer>

</footer>
</body>
</html>